body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
